.ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow {
  border-radius: 53px;
  border: none;
  background-color: beige;
}

.ql-mention-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ql-mention-list-container {
  width: 270px;
  height: 200px;
  overflow-y: auto;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(30, 30, 30, 0.08);
  z-index: 9001;
}

.ql-mention-list-item {
  cursor: pointer;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  padding: 0 20px;
  vertical-align: middle;
}

.ql-mention-list-item.selected {
  background-color: orange;
  text-decoration: none;
}

.mention {
  padding-left: 4px;
  color: lightgray;
}
.mention a {
  color: orange;
  text-decoration: none;
}

.ql-editor {
  min-height: 500px;
  width: 1280px;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 25px;
}
