body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
