body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
html,
#root,
.App {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sky {
  background: rgb(201, 213, 220);
  background: radial-gradient(
    circle,
    rgba(201, 213, 220, 1) 0%,
    rgba(185, 213, 228, 1) 25%,
    rgba(143, 191, 215, 1) 69%,
    rgba(231, 229, 228, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.star1 {
  animation: float1 6s ease-in-out infinite;
}

@keyframes float1 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-10px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.star2 {
  animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-20px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.star3 {
  animation: float3 6s ease-in-out infinite;
}

@keyframes float3 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(15px, -20px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.texture {
  background-image: radial-gradient(#78716c 0.5px, transparent 0.5px),
    radial-gradient(#78716c 0.5px, #d6d3d1 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.texture2 {
  background-image: radial-gradient(#a8a29e 0.5px, #e7e5e4 0.5px);
  background-size: 10px 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply leading-loose;
    @apply font-semibold;
    @apply py-2;
  }
  h2 {
    @apply text-2xl;
    @apply leading-loose;
    @apply font-semibold;
    @apply py-2;
  }
  h3 {
    @apply text-xl;
    @apply leading-loose;
    @apply font-semibold;
    @apply py-2;
  }
  ol {
    @apply list-decimal;
    @apply ml-9;
  }
  ul {
    @apply list-disc;
    @apply ml-9;
  }
  a {
    @apply text-violet-400;
  }
}

.grid-cols-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
